<main class="shop">
    <section class="shop__header">
        <section class="shop__header-section shop__header-section--icon">
            <img src="" alt="" class="shop__icon">
        </section>
        <section class="shop__header-section shop__header-section--background">
            
        </section>
    </section>
    <section class="shop__body">
        <section class="shop__body-section shop__body-section--img">
            <img src="" alt="" class="shop__img">
        </section>
        <section class="shop__body-section shop__body-section--content">
            <div class="shop__content">
                <div class="shop__content-container">
                    <section class="shop__content-section shop__content-section--banner">
                        <img src="" alt="" class="shop__content-banner">
                    </section>
                    <section class="shop__content-section shop__content-section--drops">
                        <div class="shop__content-drops">content</div>
                        <div class="shop__content-drops">content</div>
                        <div class="shop__content-drops">content</div>
                    </section>
                </div>
            </div>
        </section>
        <section class="shop__body-section shop__body-section--content">
            <div class="shop__content">
                <div class="shop__content-container">
                    <section class="shop__content-section shop__content-section--banner">
                        <img src="" alt="" class="shop__content-banner">
                    </section>
                    <section class="shop__content-section shop__content-section--drops">
                        <div class="shop__content-drops">content</div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</main>