<main class="settings">
    <section class="settings__header">
        <section class="settings__header-section settings__header-section--icon">
            <img src="" alt="" class="settings__icon">
        </section>
        <section class="settings__header-section settings__header-section--background">
            
        </section>
    </section>
    <section class="settings__body">
        <section class="settings__body-section settings__body-section--profile">
            <div class="settings__body-profile">
                <div class="settings__background-wrapper">
                    <img src="" alt="" class="settings__profile-background">

                </div>

            </div>
            <div class="settings__profile-wrapper">
                <img src="" alt="" class="settings__profile-img">
            </div>
        </section>
        <section class="settings__body-section settings__body-section--name">
            <div class="settings__name">
                name
            </div>
        </section>
        <section class="settings__body-section settings__body-section--status">
            <div class="settings__body-status">
                <p class="settings-status-text">Current Status</p>
                <p class="settings__status-value">worker bee</p>
            </div>
        </section>
        <section class="settings__body-section settings__body-section--button">
            <div class="settings__body-button">
                <button class="settings__button">DELETE ACCOUNT</button>
            </div>
        </section>

    </section>
</main>