<div class="input__rou">
    <section class="input__rou-section input__rou-section--slider">
        <div class="input__rou-slider">
            <div class="input__rou-slider-button">
                <button class="input__rou-button"></button>
            </div>
            <div class="input__rou-slider-button">
                <button class="input__rou-button"></button>
            </div>
            <div class="input__rou-slider-button">
                <button class="input__rou-button"></button>
            </div>
            <div class="input__rou-slider-button">
                <button class="input__rou-button"></button>
            </div>
            <div class="input__rou-slider-button">
                <button class="input__rou-button"></button>
            </div>
        </div>
    </section>
    <section class="input__rou-section input__rou-section--icon">
        <div class="input__rou-section-icon "></div>
        <div class="input__rou-section-icon input__rou-section-icon--img">
            <img src="" alt="" class="input__rou-icon-img">
        </div>
        <div class="input__rou-section-icon ">
            <p class="input__rou-icon-text">text</p>
        </div>
    </section>
</div>