<div class="footer">
    <section class="footer__section">
        <div class="footer__button">
            <img src="" alt="" class="footer__button-img">
            <p class="footer__button-title">button</p>
        </div>
    </section>
    <section class="footer__section">
        <div class="footer__button">
            <img src="" alt="" class="footer__button-img">
            <p class="footer__button-title">button</p>
        </div>
    </section>
    <section class="footer__section">
        <div class="footer__button">
            <img src="" alt="" class="footer__button-img">
            <p class="footer__button-title">button</p>
        </div>
    </section>
</div>