@use '../../style/mixins' as *;
@use '../../style/var' as *;

:host{
    @include flexed;
    height: 50px;
    width: 100%;
}

.footer{
    @include flexed;
    width: 100%;
    background-color: $blue;
    flex-direction: row;

}

.footer__section{
    @include flexed;
    flex: 1;
    justify-content: center;
    align-content: center;
}
.footer__button{
    @include flexed;
    flex-direction: column;
    height: inherit;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center
}
.footer__button-img{
    @include flexed;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-color: rgba(0,0,0,0.5);
    border-radius: 100%;
}
.footer__button-title{
    @include flexed;
    flex: auto;
    margin: 0;
    color: white;
    font-size: .8rem;
}
