<div class="footer">
    <section class="footer__section">
        <div class="footer__button" routerLink="/shop" routerLinkActive="active">
            <img src="" alt="" class="footer__button-img">
            <p class="footer__button-title">button</p>
        </div>
    </section>
    <section class="footer__section">
        <div class="footer__button" (click)="toggleTask()">
            <img src="" alt="" class="footer__button-img">
            <p class="footer__button-title">button</p>
        </div>
    </section>
    <section class="footer__section">
        <div class="footer__button" routerLink="/rank" routerLinkActive="active">
            <img src="" alt="" class="footer__button-img">
            <p class="footer__button-title" >button</p>
        </div>
    </section>
</div>