<main class="rank">
    <section class="rank__header">
        <section class="rank__header-section rank__header-section--icon">
            <img src="" alt="" class="rank__icon">
        </section>
        <section class="rank__header-section rank__header-section--background">
            
        </section>
    </section>
    <section class="rank__body">
        <section class="rank__body-section rank__body-section--title">
            <img src="" alt="" class="rank__title-icon">
            <p class="rank__title">WEEKLY RANK</p>
            <img src="" alt="" class="rank__title-icon">
        </section>
        <section class="rank__body-section rank__body-section--top">

            <div class="rank__top">
                <section class="rank__top-section rank__top-section--profile">
                    <img src="" alt="" class="rank__top-img">
                    <img src="" alt="" class="rank__top-profile">
                </section>
                <section class="rank__top-section rank__top-section--info">
                    <p class="rank__top-name">Worker Bee</p>
                    <p class="rank__top-signature">Beezy Bee</p>
                    <div class="rank__top-progress"></div>
                </section>
            </div>
            <div class="rank__top">
                <section class="rank__top-section rank__top-section--profile">
                    <img src="" alt="" class="rank__top-img">
                    <img src="" alt="" class="rank__top-profile">
                </section>
                <section class="rank__top-section rank__top-section--info">
                    <p class="rank__top-name">Worker Bee</p>
                    <p class="rank__top-signature">Beezy Bee</p>
                    <div class="rank__top-progress"></div>
                </section>
            </div>
            <div class="rank__top">
                <section class="rank__top-section rank__top-section--profile">
                    <img src="" alt="" class="rank__top-img">
                    <img src="" alt="" class="rank__top-profile">
                </section>
                <section class="rank__top-section rank__top-section--info">
                    <p class="rank__top-name">Worker Bee</p>
                    <p class="rank__top-signature">Beezy Bee</p>
                    <div class="rank__top-progress"></div>
                </section>
            </div>

        </section>
        <section class="rank__body-section rank__body-section--lower">
            <div class="rank__body-lower-wrapper">
                <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div>
                <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div>
                <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div> <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div> <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div> <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div> <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div>
                <div class="rank__lower">
                    <section class="rank__lower-section rank__lower-section--profile">
                        <p class="rank__lower-placement">4</p>
                        <img src="" alt="" class="rank__lower-profile">
                    </section>
                    <section class="rank__lower-section rank__lower-section--info">
                        <p class="rank__lower-name">Worker Bee</p>
                        <p class="rank__lower-signature">Beezy Bee</p>
                        <div class="rank__lower-progress"></div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</main>