@use '../../style/mixins' as *;

:host{
    @include flexed;
   width: 100%;
   height: 100%;
    flex-direction: column
}
.home {
    @include flexed;
    width: 100vw;
    flex: auto;



    @media screen and (orientation: landscape){
        &::after {
            content: "Landscape";
          }
        color:cadetblue;
        background-color:burlywood;
        
     
    }
    @media (orientation: portrait){
        color: aliceblue;
        background-color: aquamarine;
    }
}

