
    <app-header></app-header>

<div class="home">
    <section class="home__section home__section--exp">
        <div class="home__section-top home__section-top--bar">
            <div class="home__bar"></div>
        </div>
        <div class="home__section-top home__section-top--points">
            <p class="home_points">45/100</p>
        </div>
    </section>
    <section class="home__section home__section--content">
        <div class="home__content">
            <div class="home__content-body">
                <div class="home__content-section home__content-section--button">
                    <div class="home__content-button"></div>
                </div>
                <div class="home__content-section home__content-section--details">
                    <section class="home__content-details home__content-details--info">
                        <section class="home__content-info home__content-info--data">
                            <div class="home__content-data-img">
                                <img src="" alt="" class="home__content-img">
                            </div>
                            <p class="home__content-data-status">Pending</p>
                            <p class="home__content-data-task">I DID NOT DO ANYTHING</p>
                        </section>
                        <section class="home__content-info home__content-info--freq">
                            <div class="home__content-freq">Daily</div>
                        </section>
                    </section>
                    <section class="home__content-details home__content-details--exp">
                        <div class="home__content-exp"></div>
                    </section>
                </div>
            </div>
            <div class="home__content-body">
                <div class="home__content-section home__content-section--button">
                    <div class="home__content-button"></div>
                </div>
                <div class="home__content-section home__content-section--details">
                    <section class="home__content-details home__content-details--info">
                        <section class="home__content-info home__content-info--data">
                            <div class="home__content-data-img">
                                <img src="" alt="" class="home__content-img">
                            </div>
                            <p class="home__content-data-status">Pending</p>
                            <p class="home__content-data-task">I DID NOT DO ANYTHING</p>
                        </section>
                        <section class="home__content-info home__content-info--freq">
                            <div class="home__content-freq">Daily</div>
                        </section>
                    </section>
                    <section class="home__content-details home__content-details--exp">
                        <div class="home__content-exp"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
