<div class="task">
    <div class="task__container"> 
        <section class="task__header">
            <div class="task__header-button" (click)="taskClose()">
                <img src="" alt="" class="task__header-button-img">
            </div>
            <div class="task__header-background">
                <img src="" alt="" class="task__header-background-img">
            </div>
        </section>
        <section class="task__body">
            <div class="task__body-container task__body-container--content">
                <div class="task__content">
                    <section class="task__content-input task__content-input--activity">
                        <p class="task__content-text task__content-act-text">What's the plan?</p>
                        <app-reg />
                    </section>
                    <section class="task__content-input task__content-input--time">
                        <p class="task__content-text task__content-text--time">Time</p>
                        <app-time/>
                    </section>
                    <section class="task__content-input task__content-input--routine">
                        <p class="task__content-text task__content-text--rou">Your routine</p>
                        <app-routine/>
                    </section>
                    <section class="task__content-input task__content-input--reminder">
                        <p class="task__content-text task__content-text--rem">When to remind you?</p>
                        <app-reminder/>
                    </section>
                </div>
            </div>
            <div class="task__body-container task__body-container--button">
                <div class="task__body-button">
                    <p class="task__body-button-text">I'm all good</p>
                    <img src="" alt="" class="task__body-button-img">
                </div>
            </div>
        </section>
    </div>
</div>